* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f8f9fa;
  color: #333;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #1e1e2f;
  color: white;
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #ff9800;
}

/* Hero Section */
.hero {
  background: url('https://images.unsplash.com/photo-1503376780353-7e6692767b70?auto=format&fit=crop&w=1600&q=80')
    no-repeat center center/cover;
  color: white;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.hero h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.btn {
  background-color: #ff9800;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  text-decoration: none;
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover {
  background-color: #e68900;
}

/* Cars Section */
.cars-section {
  padding: 40px 20px;
  text-align: center;
}

.cars-section h2 {
  margin-bottom: 20px;
}

#searchInput {
  padding: 10px;
  width: 60%;
  max-width: 400px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.car-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.car-card {
  background: rgb(255, 255, 255);
  border-radius: 10px;
  height: 300px;
  width: 100%;
  padding: 10px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.car-card:hover {
  transform: translateY(-5px);
}

.car-card img {
  width: 100%;
  height: 160px;
  object-fit: contain;
  border-radius: 10px;
  margin-bottom: 10px;
}

.car-card h3 {
  color: #1e1e2f;
}

.car-card p {
  font-size: 0.9rem;
  color: #b303ff;
}

/* Booking Section */
.booking-section {
  padding: 40px 20px;
  background: #1e1e2f;
  color: white;
  text-align: center;
}

.booking-section form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  margin: auto;
}

.booking-section input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
}

#confirmation {
  margin-top: 15px;
  font-weight: bold;
  color: #ff9800;
}

/* Footer */
footer {
  background: #111;
  color: #ccc;
  text-align: center;
  padding: 20px;
  margin-top: 30px;
}

